body {
  background: var(--code-bg);
}

.nav .logo a {
  color: var(--theme);
}

.home-info {
  text-align: center;
}

.post-entry {
  transition: filter 300ms ease;
}

.dark .post-entry:hover {
  filter: brightness(1.1);
}

.post-entry:hover {
  filter: brightness(0.9);
}

a,
.top-link {
  transition: color 500ms ease;
}

a:hover,
.top-link:hover {
  color: var(--theme)
}

.footer a {
  transition: color 500ms ease, border-bottom 500ms ease;
}

.footer a:hover {
  color: var(--theme);
  border-bottom: 1px solid var(--theme);
}