@font-face {
  font-family: "atkinson-hyperlegible-next";
  src:
    url("https://cdn.thatferret.blog/fonts/AtkinsonHyperlegibleNext[wght].woff2") format(woff2) tech(variations);
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
}

@font-face {
  font-family: "atkinson-hyperlegible-next";
  src:
    url("https://cdn.thatferret.blog/fonts/AtkinsonHyperlegibleNext-Italic[wght].woff2") format(woff2) tech(variations);
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
}

@font-face {
  font-family: "amatic-sc";
  src:
    url("https://cdn.thatferret.blog/fonts/AmaticSC-Bold.woff2") format(woff2);
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

body {
  font-family: "atkinson-hyperlegible-next", -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  background: var(--code-bg);
}

.nav {
  justify-content: space-evenly;
}

.nav .logo a {
  font-family: "amatic-sc", -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  color: var(--theme);
  font-size: var(--font-size-h4);
}

.logo {
  margin: auto calc(var(--gap) - 32px) auto var(--gap);
}

.home-info {
  text-align: center;
}

.home-info .entry-header h1 {
  color: var(--theme);
  font-family: "amatic-sc", -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif
}

.home-info .entry-content a {
  box-shadow: 0 1px;
  box-decoration-break: clone;
}

#home-info-logo img {
  margin: auto;
}

.post-entry {
  transition: filter 300ms ease;
}

.dark .post-entry:hover,
.dark .terms-tags a:hover {
  filter: brightness(1.1);
}

.post-entry:hover,
.terms-tags a:hover {
  filter: brightness(0.9);
}

.toc {
  background: var(--entry);
}

.pagination a {
  color: var(--primary);
  background: var(--entry)
}

a,
.top-link {
  transition: color 500ms ease;
}

a:hover,
.top-link:hover {
  color: var(--theme)
}

.footer {
  margin-bottom: 75px;
}

.footer a {
  transition: color 500ms ease, border-bottom 500ms ease;
}

.footer a:hover {
  color: var(--theme);
  border-bottom: 1px solid var(--theme);
}

.footer hr {
  color: var(--code-block-bg);
  margin: 16px 0;
}

@media (max-width: 406px) {
  .footer #footer-legal-hide-pipe {
    visibility: hidden;
  }
}

.terms-tags a {
  transition: transform .1s, color 300ms ease, filter 300ms ease;
}

.post-content dt {
  text-align: center;
}

/* Ko-fi */
.floatingchat-donate-button {
  font-family: "noto-sans", -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
}

/* End Ko-fi */