:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --theme: var(--ctp-frappe-mauve);
  --entry: var(--ctp-frappe-crust);
  --primary: var(--ctp-frappe-text);
  --secondary: var(--ctp-frappe-subtext1);
  --tertiary: var(--ctp-frappe-surface1);
  --content: var(--ctp-frappe-text);
  --code-block-bg: var(--ctp-frappe-surface2);
  --code-bg: var(--ctp-frappe-base);
  --border: var(--ctp-frappe-surface0);
}

.dark {
  --theme: var(--ctp-mocha-mauve);
  --entry: var(--ctp-mocha-surface0);
  --primary: var(--ctp-mocha-text);
  --secondary: var(--ctp-mocha-subtext1);
  --tertiary: var(--ctp-mocha-surface1);
  --content: var(--ctp-mocha-text);
  --code-block-bg: var(--ctp-mocha-surface2);
  --code-bg: var(--ctp-mocha-base);
  --border: var(--ctp-mocha-surface1);
}

.list {
  background: var(--code-bg);
}

.dark.list {
  background: var(--code-bg);
}