{{ define "main" }}

{{- if .Title }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>
{{- end }}

{{ $series := $.Site.GetPage "series" }}
{{ range $series.Pages.ByWeight -}}
<article class="post-entry tag-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">
      {{- .Title }}
    </h2>
  </header>
  <div class="entry-content">
    <p>{{ .Description | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
  </div>
  <a class="entry-link" aria-label="series link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{ end }}

{{ end }}